@import "/src/styles/config.scss";

.container {
  grid-area: 1 / 5 / 2 / 6;

  .topPart {
    border: 1px solid $brown;
    background-color: #e9b752;
    margin-left: 10%;
    border-radius: 15px;
    padding: 15px 15px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    span {
      font-family: "ApfelGrotezkBold";
      font-size: 20px;
      align-self: center;
    }

    .boxDetails {
      display: flex;
      justify-content: space-between;
    }

    img {
      position: absolute;
      width: 25px;
      height: 25px;
      align-self: flex-end;
      cursor: pointer;
      transition: transform 300ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .openModal {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .bottomPart {
    border: 1px solid $brown;
    background-color: #e9b752;
    margin-left: 10%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80%;

    .headerBottomPart {
      font-family: "ApfelGrotezkBold";
      font-size: 20px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .selector {
      margin-bottom: 20px;
      max-width: 280px;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.3);
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
      }
    }

    .details {
      color: $brown;
      .name {
        font-size: 24px;
        font-family: "ApfelGrotezkBold";
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .label {
    font-family: "ApfelGrotezkBold";
    font-size: 16px;
  }

  .modalContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff35;
    z-index: 10;

    .modal {
      margin: 15% auto;
      width: 50%;
      height: 40%;
      display: flex;
      flex-direction: column;
      background-color: #fff4de;
      border: 2px solid #322306;
      border-radius: 20px;
      padding: 14px 30px;
    }

    h2 {
      font-family: "ApfelGrotezkBold";
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .element {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
