.container {
  background-color: #f9ecd2;
}

.main {
  min-height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.admin {
  background-image: url("/img/Paper.png");
}

.modeling {
  background-image: url("/img/LegumesBackground.png");
  background-repeat: no-repeat;
  justify-content: space-between;
}
