@import "/src/styles/config.scss";

.container {
  background-color: #f9ecd2;
  height: 100vh;
  margin-top: -35px;
  background-image: url("/img/LegumesBackground.png");
  background-repeat: no-repeat;
  justify-content: space-between;
  background-size: cover;

  .title1 {
    padding-top: 40vh;
    text-align: center;
    font-size: 50px;
    font-family: "ApfelGrotezkBold";
  }

  .title2 {
    text-align: center;
    font-size: 30px;
    font-family: "ApfelGrotezkBold";
  }

  .link {
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    border: 1px solid $brown;
    text-align: center;
    background-color: #f9ecd2;
    font-family: "ApfelGrotezkBold";
    width: 200px;
    color: $brown;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
  }

  .link:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
  }
}
