@import "/src/styles/config.scss";

.container {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: "ApfelGrotezkBold";
      font-size: 18px;
      color: $brown;
    }

    button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      gap: 15px;
      font-family: "ApfelGrotezkBold";
      font-size: 16px;
      border: 1px solid $brown;
      color: $brown;
      border-radius: 25px;
      padding: 0 20px;
      height: 35px;
      cursor: pointer;
      transition: transform 300ms ease;

      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .tools {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      gap: 15px;
      height: 50px;
    }

    .toolsMenu {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      gap: 15px;

      button {
        &:first-of-type {
          border-color: red;
          color: red;
        }
      }
    }
  }

  .garden {
    svg {
      width: 100%;
      height: 70vh;
    }
  }
}
