@import "/src/styles/config.scss";

.button {
  @include button;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  top: 2rem;

  img {
    width: 24px;
    margin-left: 10px;
  }
}
