@import "/src/styles/config.scss";

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff4de;
  border: 2px solid #322306;
  border-radius: 20px;
  padding: 14px 30px;

  .title {
    font-family: "ApfelGrotezkBold";
    font-size: 22px;
    color: $brown;
    margin-bottom: 40px;
  }

  .signInWith {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .signInWithButton {
      font-size: 18px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 14px 0;
      width: 30vw;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: transform 400ms ease;

      &:first-of-type {
        background-color: #fff;
        margin-bottom: 12px;
      }

      &:nth-of-type(2) {
        background-color: #4267b2;
        color: #fff;
      }

      img {
        margin-right: 8px;
        width: 22px;
      }

      &:hover {
        transform: scale(1.02);
        transition: transform 400ms ease;
      }
    }
  }

  .signInWithPlantarium {
    margin: 30px 0;
    font-size: 14px;
    color: rgba(17, 17, 17, 0.5);
    position: relative;

    span {
      background-color: #fff4de;
      position: relative;
      z-index: 10;
      padding: 0 6px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 140%;
      height: 2px;
      top: 50%;
      left: -20%;
      background-color: rgba(17, 17, 17, 0.5);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      width: 30vw;
      margin-bottom: 6px;
      color: $brown;
      opacity: 0.9;
    }

    input {
      border: none;
      border-radius: 4px;
      padding: 12px;
      width: 30vw;
      font-size: 16px;

      &::placeholder {
        color: #11111188;
      }

      &:first-of-type {
        margin-bottom: 15px;
      }
    }

    button {
      margin-top: 25px;
      font-family: "ApfelGrotezkBold";
      text-transform: uppercase;
      font-size: 18px;
      background-color: $yellow;
      border: 1px solid #322306;
      border-radius: 25px;
      padding: 10px 20px;
      cursor: pointer;
      transition: transform 300ms ease;

      &:hover {
        transform: scale(1.03);
        transition: transform 300ms ease;
      }
    }
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 20px;
  }
}
