@import "/src/styles/config.scss";

.container {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid $brown;
  background-color: #e9b752;
  margin-right: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px 0;

  .parcelles {
    .headerParcelles {
      font-family: "ApfelGrotezkBold";
      font-size: 20px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    details {
      padding-bottom: 6px;
      summary {
        cursor: pointer;
        font-size: 18px;
        padding: 6px 15px;

        img {
          width: 20px;
          height: 20px;
          transition: transform 300ms ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      ul {
        li {
          font-size: 16px;
          list-style: none;
          margin-bottom: 6px;
        }
      }
    }

    details[open] {
      background-color: rgba(255, 255, 255, 0.3);

      summary {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
